

#loader {
/* */
  width: 100%;
  height: 100%;
  
 
 
}

#loaderlogo {
  position: absolute;
  top: 50%;
  margin-top: 350px;
  left: 50%;
  transform: translate(-50%, -50%); 
}

#leftprofile{
  position: absolute;
  right: 2px;
  top: 4px;
}
 #login{
    background-color: ghostwhite;
    width: 100%;
    padding: 30px;
    border-radius: 10px;
    color: gray;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 20px 0 rgba(0, 0, 0, 0.19);
  }

  #btnProfilesettings {
   color: #FF0000;
  }
  /* width */
#remarks::-webkit-scrollbar {
  width: 10px;
}

/* Track */
#remarks::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
#remarks::-webkit-scrollbar-thumb {
  background: rgb(204, 209, 219);
  border-radius: 5px;
}

/* Handle on hover */
#remarks::-webkit-scrollbar-thumb:hover {
  background: rgb(184, 191, 206);
}

/* @media screen and (max-width:768px) {
    #remarks {
      position: absolute;
    }
} */
  
.DashboardCards{
 padding: 25px;
 background-color: #EDF2F7;
border-radius: 5px;
border-left: 7px solid #a1cee7;
transition: all ease 0.3s;
}

.DashboardICon{
  color:#a1cee7;
  font-size: 60px;
}
.DashboardTitle{
  font-size: 30px;
  font-weight: bold;
  color: #606363;
}

.DashboardCards:hover .DashboardICon {
   animation: swing 0.3s;
}
.DashboardCards:hover {
  -webkit-box-shadow: 11px 10px 13px -6px rgba(176,176,176,1);
  -moz-box-shadow: 11px 10px 13px -6px rgba(176,176,176,1);
  box-shadow: 11px 10px 13px -6px rgba(176,176,176,1);
}
.DashboardNumber{
  color: RGBA(0, 0, 0, 0.48);
  font-size: 20px;
  font-weight: bold;
}
  #sideBar{
     width: 240px;
     height: 100vh;
     background-color: rgb(255, 255, 255);
     box-shadow: 0 4px 4px 0 rgba(71, 69, 69, 0.2), 0 3px 10px 0 rgba(128, 124, 124, 0.19);
    position: fixed;
  
    z-index: 10;
    transition: all ease 0.5s;
  }

  .Wrap {
    margin-left: 240px;
    transition: all ease 0.5s;
  }
  .topbar {
   width: 100%;
    height: 50px;
    background-color: rgb(200, 203, 204);
    position: fixed;
    z-index: 1; 
    box-shadow: 5px 5px rgba(27, 74, 160, 0.35);
  }
  #mainPage {
   
   padding-top: 50px;
    position: relative;
    
  }

  #btnopen_close {
   margin-left: 240px;
   margin-top: -7px;
    font-size: 25px;
    transition: all .2s;
    padding: 10px 20px;
    border-radius: 5px;
    transition: all ease 0.5s;
    outline: none;
   
  }
  #btnopen_close:active #humicon{
   
    animation: myanimation  1s;
  }

  #btndropdown:active {
    animation: myanimation  1s;
  }

  .sidebar-links ul {
  
    margin-top: 10px;
    list-style: none;
    width: 100%;
   
   
  }

  .sidebar-links #username{
    color: grey;
  }

  .sidebar-links #usertype{
    color: grey;
  }
  .sidebar-links ul li {
    padding: 10px;
    width: 100%;
    color: rgba(85, 85, 97, 0.959);
    transition: all ease 0.24s;
    font-size: 14px;
    
  }
  .sidebar-links ul li span {
    margin-left: 10px;
    word-spacing: 15px;
  }

  .sidebar-links ul li span i {
    font-size: 18px;
  }
 
  .head-icon {
    font-size: 40px;
    transform: rotate(40deg);
    z-index: -10;
  }
 
  .sidebar-links ul li:hover {
    background-color: #bbd1d1;
  }

  .sidebar-links ul li:hover span i {
    animation: swing 0.5s;
    
  }
  .active{
    background-color: #bbd1d1;
  }
  .title{
    font-family: 'Roboto Flex', sans-serif;
  }

  #red {
    color: rgb(155, 56, 56);
    font-weight: bolder;
  }

  #profile_menu_item {
    background-color: rgb(32, 21, 75);
  }
  #menulist span {
    margin-left: 20px;
  }

  .box {
    
  }
@media screen and (max-width:768px) {
  #login {
      width: 100%;
      background-color: transparent;
      box-shadow: unset;
      color: rgb(92, 91, 99);
  }
  

  #sideBar{
   width: 0;
  }
  #sblink{
    display: none;
  }
  #wrap {
    margin-left: 0px;
  }
  #btnopen_close{
    margin-left: 20px;
  }

  


}

@keyframes myanimation {
  0% {
    transform: scale(0.5);
  }
  20% {
    transform: scale(1);
  }
  40% {
    transform: scale(1.5);
  }
  60% {
    transform: scale(1);
  }
  80% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(0.5);
  }
  
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes swing {
  0% {
      transform: rotate(0deg);
  }

  10% {
      transform: rotate(10deg);
  }

  30% {
      transform: rotate(0deg);
  }

  40% {
      transform: rotate(-10deg);
  }

  50% {
      transform: rotate(0deg);
  }

  60% {
      transform: rotate(5deg);
  }

  70% {
      transform: rotate(0deg);
  }

  80% {
      transform: rotate(-5deg);
  }

  100% {
      transform: rotate(0deg);
  }
}
