
  #login{
    background-color: ghostwhite;
    width: 100%;
    padding: 30px;
    border-radius: 10px;
    color: gray;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 20px 0 rgba(0, 0, 0, 0.19);
  }

@media screen and (max-width:768px) {
  #login {
      width: 100%;
      background-color: transparent;
      box-shadow: unset;
      color: rgb(92, 91, 99);
  }

}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
